<h1>Ajout</h1>

<form method="post" action="">
    <label>Name: </label> <input type="text" id="name"/>
    </br>
    <label>Category: </label> <input type="text" id="category"/>
    <br/>
    <button type="submit">OK</button>
</form>
